#body
{
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header
{
    text-align: center;
}

.header .main_text
{
    margin: 0px;
    margin-top: 50px;
    padding: 0px;
    color: #00BFFF;
    font-size: 100px;
}

.header .sub_text
{
    margin: 0px;
    padding: 0px;
    color: #00BFFF;
    font-size: 20px;
}

section
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-left: 33%;
    margin-right: 33%;
}

section .sign_up button, section .register button
{
    margin-left: 23%;
    width: 65%;
    height: 45px;
    border: 0px;
    border: 2px solid #04133a;
    border-radius: 50px;
    background: #04133a;
    color: white;
}

section .sign_up button:hover, section .register button:hover
{
    border: 2px solid #FFF;
    opacity: 0.7;
}

header .header hr
{
    margin-left: 15%;
    margin-right: 15%;
    border-size: 2px;
    border-color: #000;
}